// common color
@purple: rgb(96, 102, 190);
@white: rgb(255, 255, 255);
@grey: rgb(174, 175, 175);
@light-grey: rgb(234, 234, 234);
@dark-grey: rgb(89, 89, 90);
@lighter-grey:rgb(239, 242, 243);
@wx-bg-grey:RGB(244, 245, 249);

@success-color: rgb(0, 168, 84);
@info-color: rgb(16, 142, 233);
@warn-color: rgb(255, 191, 0);
@error-color: rgb(240, 65, 52);

// transition
.transition(@ts) {
  transition: @ts;
  -moz-transition: @ts;	/* Firefox 4 */
  -webkit-transition: @ts;	/* Safari 和 Chrome */
  -o-transition: @ts;
}

// input placeholder color
@input-placeholder-color: rgb(182, 182, 182);
::-webkit-input-placeholder {
  color:@input-placeholder-color;
}
::-webkit-input-placeholder {
  color:@input-placeholder-color;
}
:-moz-placeholder {
  color:@input-placeholder-color;
  opacity:  1;
}
::-moz-placeholder {
  color:@input-placeholder-color;
  opacity:  1;
}
:-ms-input-placeholder {
  color:@input-placeholder-color;
}
:-ms-input-placeholder {
  color:@input-placeholder-color;
}