@import "common.less";

.col-style > div > .col {
  height: 100%;
  border-left: 1px solid @grey;
}

.col-style > div {
  height: 100%;
}

.col-style-type {
  padding: 0;
}

.col-style-type > ul {
  padding: 0;
  list-style: none;
}

.col-style-type > ul > li,
.col-style-type > ul > li > ul > li {
  padding: 0;
  position: relative;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px dashed @light-grey;
}

.col-style-type > ul > li.active,
.col-style-type > ul > li > ul > li.active,
.col-style-type > ul > li:hover,
.col-style-type > ul > li > ul > li:hover {
  background-color: @purple;
  border-color: @purple;
  color: @white;
}

.col-style-type > ul > li > ul {
  display: none;
  position: absolute;
  width: 100px;
  top: -1px;
  left: 101%;
  padding: 0;
  z-index: 1000;
  list-style: none;
  background-color: @white;
  border-right: 1px solid @light-grey;
  border-top: 1px solid @light-grey;
}

.col-style-type > ul > li:first-child > ul {
  border-top: none;
  top: 0;
}

.col-style-type > ul > li.show > ul {
  display: block;
  color: @dark-grey;
}

.col-style-item {
  overflow-y: scroll;
  overflow-x: hidden;
}

.col-style-item > ul {
  list-style: none;
  padding: 0;
}

.col-style-item > ul > li {
  border-bottom: 1px dashed @grey;
  padding: 20px;
  cursor: pointer;
}

/****************************************************************
         ********  图片管理 css style  begin  ********
  ***************************************************************/
#pic-management {
  width: 86%;
  height: 30px;
  border: 1px solid rgb(89, 89, 90);
  color: rgb(89, 89, 90);
  line-height: 30px;
  text-align: center;
  margin: 50px auto 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

#pic-management:hover {
  background-color: @purple;
  color: @white;
}

#pictureManagementModal {

  .modal-pic-left {
    border-right: 1px solid @light-grey;
    height: 570px;
    overflow: scroll;
  }

  .modal-pic-right {
    height: 570px;
  }

  .modal-body {
    padding: 0;
  }
  .modal-dialog {
    width: 900px;
  }

  .modal-pic-body {
    border: 0 none;
  }

  #img-list-warp ul {
    min-height: 512px;
  }

  .change-category .title {
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
  }
  .rename-category,
  .delete-category {
    color: #459ae9;
    font-weight: 200;
  }

  .rename-category:hover,
  .delete-category:hover {
    color: #459ae9;
    text-decoration: underline;
    cursor: pointer;
  }

  .chose_checkbox_label {
    margin-right: 20px;
  }

  .modal-right-header .img-text {
    font-size: 16px;
  }

  .modal-right-header .operation-area {
    margin-top: 10px;
    background: @wx-bg-grey;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
  }

  .modal-right-header .operation-area .a-move,
  .modal-right-header .operation-area .a-delete {
    height: 28px;
    line-height: 24px;
    width: 76px;
    text-align: center;
    border: 1px solid @grey;
    color: #444;
    display: inline-block;
    border-radius: 5px;
    margin-right: 10px;
    background-color: @white;
    vertical-align: -1px;
  }

  .modal-right-header .operation-area .a-move[disabled="disabled"],
  .modal-right-header .operation-area .a-delete[disabled="disabled"] {
    background-color: #e7e7eb;
    border-color: #dadbe0;
    color: #a5a6aa;
    cursor: default;
  }

  .check-content {
    height: 32px;
    line-height: 32px;
    display: block;
    overflow: hidden;
  }

  .checkbox-label {
    display: inline-block;
    text-align: left;
    cursor: pointer;
  }

  .checkbox-label .input-checkbox {
    vertical-align: 12px;
    margin-right: 0;
  }

  .bottom-content {
    height: 32px;
    line-height: 32px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    padding: 0;
    width: 118px;

  }

  .list-card-ft {
    background-color: #f4f5f9;
    border-top: 1px solid #e7e7eb;
    text-align: center;
    height: 30px;
  }

  .list-card-ft ul li {
    width: 33.3%;
    float: left;
    height: 30px;
    line-height: 30px;
  }

  .create-group-div {
    width: 250px;
    height: 170px;
    position: absolute;
    z-index: 9999;
    top: 200px;
    left: 200px;
    border: 1px solid #d9dadc;
    word-wrap: break-word;
    word-break: break-all;
    padding: 30px;
    background-color: #fff;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

  .create-group-div .category-input {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    width: 185px;
    font-size: 14px;
    padding: 0 10px;
    border: 1px solid #e7e7eb;
    background-color: #fff;
    margin-top: 10px;
  }

  .create-group-div a.btn-tool {
    width: 76px;
    height: 28px;
    border-radius: 5px;
    margin-top: 20px;
    line-height: 28px;
    text-align: center;
    display: inline-block;

  }

  .btn-commit {
    background-color: @purple;
    color: @white;

  }

  .btn-canncel {
    background-color: @white;
    border: 1px solid @light-grey;
    color: #666;
    margin-left: 33px;
  }

}

.modal-right-header .text-right {
  text-align: right;
}

#img-list-warp {
  margin-left: 15px;

}

#img-list-warp .tips-no-image {
  text-align: center;
  margin-top: 180px;
  color: @grey;
}

#img-list-warp li.img-item {
  float: left;
  text-align: center;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid @light-grey;
  width: 31%;
}

#img-list-warp .bg-warp {
  position: relative;

}

#img-list-warp .bg-warp .cover {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 130px;
  width: 100%;
}

#paginationArea {
  text-align: right;
  margin-top: 0px;
  padding-top: 10px;
  border-top: 1px solid @light-grey;
  width: 100%;
}

#paginationArea span.last-page,
#paginationArea span.next-page,
#paginationArea span.go-page {
  width: 86px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid @light-grey;
}

#paginationArea span.last-page:hover,
#paginationArea span.next-page:hover,
#paginationArea span.go-page:hover {
  background-color: @light-grey;
}

#paginationArea span.go-page {
  margin-right: 15px;
}

#paginationArea .show-number {
  padding: 0 15px;
  font-size: 14px;

}

#paginationArea .input-number {
  width: 75px;
  height: 28px;
  line-height: 28px;
  border: 1px solid @light-grey;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  margin: 0 5px;
  outline: 0 none;
}

.button-upload-local {
  height: 28px;
  line-height: 28px;
  width: 76px;
  text-align: center;
  background-color: @purple;
  color: @white;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 15px;

}

.modal-pic-left .popover-content {
  background-color: @white;
}

.modal-pic-left ul li {
  text-align: left;
  height: 32px;
  line-height: 32px;
  padding-left: 15px;
  cursor: pointer;
}

.modal-pic-left ul li.active {
  background-color: @light-grey;
}

.modal-pic-left ul li:hover {
  background-color: @light-grey;
}

.edit-popover-warp {
  padding: 10px;
}

.edit-input {
  width: 170px;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  border: 1px solid #e7e7eb;
  outline: none;
}

.popover-bar {
  margin-top: 10px;
}

.popover-bar .js-canncel-btn {
  float: right;
}

.popover-bar a.btn {
  border-radius: 5px;
}

.edit-radio-label {
  display: inline-block;
  text-align: left;
  cursor: pointer;
  word-wrap: break-word;
  word-break: break-all;
  margin-right: 15px;
}

.js-canncel-btn {
  width: 76px;
  height: 28px;
  line-height: 14px;
}

.js-commitb-btn {
  margin-right: 20px;
  width: 76px;
  height: 28px;
  line-height: 14px;
}

.create-category-input,
.item-name-input {
  outline: none;
  padding: 5px 2px;
  width: 100%;
}

#category-radios {
  width: 150px;
}

/****************************************************************
         ********  图片管理 css style  end  ********
  ***************************************************************/

/****************************************************************
         ********  选择图片弹窗  css style  begin  ********
  ***************************************************************/
#choosePictureManagementModal {

  .modal-body {
    padding: 0;
  }
  .modal-dialog {
    width: 900px;
  }
  .modal-pic-body {
    border: 0 none;
  }
  .modal-footer{
    padding: 0;
    border-top:0 none;
  }

  .modal-pic-left {
    border-right: 1px solid @light-grey;
    height: 490px;
    overflow: scroll;
  }

  .modal-pic-right {
    height: 490px;
    .right-header {
      height: 50px;
      border-bottom: 1px solid @light-grey;
      .button-upload-local {
        margin-top: 11px;
      }
    }

  }
  #img-list-warp {
    margin-left: 0;
  }

  #img-list-warp ul {
    min-height: 380px;
    margin-left: -20px;
  }
  #img-list-warp li.img-item {
    width: 17.8%;
    cursor:pointer;
    .check-content {
      display: inline-block;
      width: 100%;
      height: 34px;
      line-height: 34px;
      text-align: left;
      padding-left: 15px;
    }
  }

  #paginationArea {
    margin-top: 0;
    border-top:none;
  }
  .select-image-icon{
    width: 127px;
    height: 130px;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top:0;
    display: none;

    i{
      line-height: 127px;
      font-size: 40px;
    }
  }
  .select-image-icon.active{
    display: inline-block;
  }

  .footer {
    padding: 0;
    margin: 0;
    line-height: 65px;
    background-color: #f4f5f9;
    position: relative;
    text-align: center;
    border-top: 1px solid transparent;

    button {
      height: 28px;
      line-height: 28px;
      width: 100px;
      text-align: center;
      border-radius: 5px;
      padding: 0;
      margin: 0;
      border: 1px solid #e7e7eb;
    }

    .btn-go {
      color: #fff;
      cursor: pointer;
      margin-right: 10px;
      background-color: @purple;
    }

    .btn-cancel {
      background-color: #fff;
      color: #222;

      &:hover {
        background-color: #e7e7eb;
      }
    }

  }

}

/****************************************************************
         ********  选择图片 弹窗 css style  end  ********
  ***************************************************************/