@import "common.less";

html, body, #winter-boom-editor {
  background-color: white;
  min-height: 100%;
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
  width: 100%;
  padding: 0;
  position: relative;
}

#app .header {
  background-color: rgb(239, 242, 243);
  height: 50px;
  width: 100%;
  position:fixed;
  top:0;
  z-index: 100;
}

#app .header .ripple{
  height: 50px;
}

#app .header .imgwarp .avatar{
  border-radius: 100%;
  margin-top: -7px;
  vertical-align: middle;
}

#app .header .imgwarp{
  color: #666;
}

#app .header .nav > li > a:hover, .nav > li > a:focus{
  background-color: transparent !important;
  opacity: 0.8;
  color: #222;
}

.main {
  background-color: @white;
  padding-top: 50px !important;
  height: 100%;
  position: relative;
}

.main > .col {
  height: 100%;
  border-left: 1px solid @grey;
}
.row ,.col{
  padding:0;
  margin:0;
}

.editor-message > i {
  margin-right: 10px;
}

.editor-message.success > i {
  color: @success-color;
}

.editor-message.info > i {
  color: @info-color;
}

.editor-message.warn > i {
  color: @warn-color;
}

.editor-message.error > i {
  color: @error-color;
}

.editor-message {
  background-color: @white;
  position: fixed;
  bottom: 0;
  left: 50%;
  padding: 16px;
  border-radius: 4px;
  color: @grey;
  font-size: 12px;
  overflow: hidden;
  z-index: 9998;
  .editor-message-box-shadow(@dark-grey)
}

.editor-message-box-shadow(@color) {
  -moz-box-shadow: 0 2px 8px fade(@color, 20%);
  -webkit-box-shadow: 0 2px 8px fade(@color, 20%);
  box-shadow: 0 2px 8px fade(@color, 20%);
}